[task.cis-xlsx-to-oscal-cd]

benchmark-file = ../CIS_Red_Hat_OpenShift_Container_Platform_Benchmark_v1.7.0.xlsx
benchmark-title = CIS Red Hat OpenShift Container Platform Benchmark
benchmark-version =  1.7.0 

namespace = https://oscal-compass/compliance-trestle/schemas/oscal/cd

component-name = Red Hat OpenShift Container Platform
component-description = Red Hat OpenShift Container Platform
component-type = software

profile-version = v8
profile-source = catalogs/CIS_controls_v8/catalog.json
profile-description = CIS catalog v8

output-dir = component-definitions/CIS_Red_Hat_OpenShift_Container_Platform_Benchmark_v1.7.0
output-overwrite = true
